/* Variables */

:root {
    --darktheme: #19334d;
    --lighttheme: #9fbfdf;
}

/* Universal styles */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Nav styles */

h1 {
    background-color: var(--lighttheme);
    font-size: 230%;
    color: var(--darktheme);
    padding: 5px 5px 5px 66px;
}

header {
    background-color: var(--darktheme);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: relative;
    padding: 15px 0;
    margin-right: 55px;
}

li {
    display: inline-flex;
    position: relative;
}

a {
    font-size: 130%;
    color: var(--lighttheme);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.08em;
    display: inline-block;
    padding: 15px 15px;
}

/* Subtitle Section */

.subtitle-box {
    display: flex;
    position: relative;
}

.subtitle-box .subtitle-text {
    position: absolute;
    top: 21%;
    left: 82%;
    color: var(--lighttheme)
}

h2 {
    background-color: var(--lighttheme);
    color: var(--darktheme);
    font-size: 230%;
    padding: 5px 66px 5px 5px;
}

section img {
    height: 80.797px;
    width: 100%;
}

/* Main section_____________________________________________ */

main {
    background-color: rgba(225, 226, 226, 0.973);
}

.content {
    padding-top: 40px;
}

/* About me article */

.content #aboutme {
    display: flex;
    height: 150px;
}

article #aboutme {
    flex-direction: row;
    margin-top: 50px;
}

article h3 {
    font-size: 230%;
    color: var(--darktheme);
    border-right: 5px solid var(--darktheme);
    padding: 0 0 0 170px;
}

article p {
    color: var(--darktheme);
    font-size: 110%;
    padding: 0px 100px 0 70px;
}

/* Work article */

.content #work {
    display: flex;
    height: 750px;
    padding-top: 50px;
}

#main-card {
    border: 8px solid var(--lighttheme);
    margin: 0px 70px 306px 70px;
    width: 100%;
    background: url(./digital-marketing-meeting.jpg);
    background-size: cover;
}



.small-cards {
    display: flex;
    flex-wrap: wrap;
}

#card-1 img {
    border: 8px solid var(--lighttheme);
    margin: 0px 70px 306px 70px;
    width: 25%;
    }

#card-2 {
    border: 8px solid var(--lighttheme);
    margin: 0px 70px 306px 70px;
    width: 25%;
    background: url(./leonard-cotte-c1Jp-fo53U8-unsplash.png);
    background-size: cover;
}

#card-3 {
    border: 8px solid var(--lighttheme);
    margin: 0px 70px 306px 70px;
    width: 25%;
    background: url(./pawel-czerwinski-prMn9KINLtI-unsplash.png);
    background-size: cover;
}

#card-4 {
    border: 8px solid var(--lighttheme);
    margin: 0px 70px 306px 70px;
    width: 25%;
    background: url(./v2osk-1Z2niiBPg5A-unsplash.png);
    background-size: cover;
}

.small-cards img {
    width: 100px;
}


#work h3 {
    padding-left: 182px;
}

/* Contact Me article */

.content #contactme {
    display: flex;
    height: 150px;
    padding-top: 50px;
}

article #contactme {
    flex-direction: row;
    padding-top: 50px;
}

#contactme h3 {
    padding-left: 137px;
}