/* Variables */

:root {
    --darktheme: #19334d;
    --lighttheme: #9fbfdf;
}

/* Universal styles */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Nav styles */

h1 {
    background-color: var(--lighttheme);
    font-size: 230%;
    color: var(--darktheme);
    padding: 5px 5px 5px 66px;
    text-shadow: 1px 1px 1px white
}

header {
    background-color: var(--darktheme);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section img {
    height: 80.797px;
    width: 70px;
}

nav {
    position: relative;
    padding: 15px 0;
    margin-right: 55px;
}

li {
    display: inline-flex;
    position: relative;
}

a {
    font-size: 135%;
    color: var(--lighttheme);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.08em;
    display: inline-block;
    padding: 15px 15px;
    text-shadow: 2px 2px 2px var(--darktheme);
}

.link:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Subtitle Section */

.subtitle-box {
    display: flex;
    position: relative;
}

.subtitle-box .subtitle-text {
    flex-wrap: wrap;
    justify-content: flex-end;
    top: 21%;
    left: 82%;
    color: var(--lighttheme)
}

h2 {
    background-color: var(--lighttheme);
    color: var(--darktheme);
    font-size: 150%;
    padding: 5px 66px 5px 5px;
    height: 80.797px;
    text-shadow: 1px 1px 1px white
}

section img {
    height: 80.797px;
    width: 100%;
}

/* Main section_____________________________________________ */

main {
    background-color: rgba(6, 43, 18, 0.158);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 75%;
    padding-top: 40px;
    align-items: center;
}


.title {
    font-size: 230%;
    color: var(--darktheme);
    border-right: 5px solid var(--darktheme);
    flex: 0 0 25%;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    text-shadow: 2px 2px 2px var(--lighttheme);
}

article p {
    color: var(--darktheme);
    font-size: 130%;
    padding: 0px 100px 0 70px;
}

/* Work article */

.main-card {
    flex: 1 0 90%;
    background-image: url("./digital-marketing-meeting.jpg");
    background-size: cover;
    border: 5px solid var(--lighttheme);
    min-height: 40vh;
    margin: 50px;
    position: relative;
    box-shadow: 2px 2px 2px var(--darktheme);
}

#maincardlink {
    text-decoration: none;
    display: block;
    color: var(--darktheme);
    padding: 20px;
    background-color: var(--lighttheme);
}

#maincardlink:hover {
    background-color: var(--darktheme);
    color: var(--lighttheme);
}


.small-card {
    flex: 1 0 40%;
    justify-content: space-around;
}

#small-card1 {
    background-image: url("./c-d-x-PDX_a_82obo-unsplash.png");
    background-size: cover;
    border: 5px solid var(--lighttheme);
    min-height: 20vh;
    margin: 50px;
    box-shadow: 2px 2px 2px var(--darktheme);
}

#small-card2 {
    background-image: url("./leonard-cotte-c1Jp-fo53U8-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--lighttheme);
    min-height: 20vh;
    margin: 50px;
    box-shadow: 2px 2px 2px var(--darktheme);
}

#small-card3 {
    background-image: url("./laura-vinck-Hyu76loQLdk-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--lighttheme);
    min-height: 20vh;
    margin: 50px;
    box-shadow: 2px 2px 2px var(--darktheme);
}

#small-card4 {
    background-image: url("./v2osk-1Z2niiBPg5A-unsplash.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--lighttheme);
    min-height: 20vh;
    margin: 50px;
    box-shadow: 2px 2px 2px var(--darktheme);
}

.main-card img {
    width: 90%;
    margin: auto;
    min-height: 40vh;
}

/* Contact Me article */

.content #contactme {
    display: flex;
    height: 150px;
    padding-top: 50px;
}

.content #contactme {
    justify-content: space-between;
    align-items: center;
}

.content li {
    color: var(--darktheme);
}

article ul {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: var(--darktheme);
}

/*media query for mobile*/

@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;

    }

    .container {
        flex-direction: column;
    }

}



@media screen and (max-width: 768px) {

    .subtitle-box {
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .subtitle-text {
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
    }
}



@media screen and (max-width: 768px) {

    .title {
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        border: 3px solid var(--darktheme);
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {

    .main-card {
        flex-direction: column;
        width: 75%;
        align-items: center;

    }
}

@media screen and (max-width: 768px) {

    .small-card {
        flex-direction: column;
        width: 75%;
        align-items: center;

    }
}

@media screen and (max-width: 768px) {

    .content {
        flex-direction: column;
        width: 100%;

    }
}